<mat-card class="search-module" id="search-bar">
    <mat-form-field class="example-form-field">
        <span matPrefix><i class="material-icons">search &nbsp;</i></span>
        <input matInput type="text" placeholder="Enter a Location" class="form-control" #search [formControl]="searchControl" />
        <button mat-button *ngIf="placeName" matSuffix mat-icon-button aria-label="Clear" (click)="placeName=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
</mat-card>

<mat-card class="weather-display" id="weather-chart">
    <app-ngx-d3-liquid-fill-gauge id="humid-gauge" [value]="37" [minValue]="0" [maxValue]="100" [circleThickness]="0.05" [circleFillGap]="0.05" [circleColor]="'#178BCA'" [waveHeight]="0.05" [waveCount]="4" [waveRiseTime]="1000" [waveAnimateTime]="18000" [waveRise]="true"
        [waveHeightScaling]="true" [waveAnimate]="true" [waveColor]="'#178BCA'" [waveOffset]="0" [textVertPosition]=".5" [textSize]="1" [valueCountUp]="true" [displayPercent]="true" [textColor]="'#045681'" [waveTextColor]="'#A4DBf8'">
    </app-ngx-d3-liquid-fill-gauge>
    <app-ngx-d3-liquid-fill-gauge id="precip-gauge" [value]="77" [minValue]="0" [maxValue]="100" [circleThickness]="0.05" [circleFillGap]="0.05" [circleColor]="'#178BCA'" [waveHeight]="0.05" [waveCount]="5" [waveRiseTime]="1000" [waveAnimateTime]="18000"
        [waveRise]="true" [waveHeightScaling]="true" [waveAnimate]="true" [waveColor]="'#178BCA'" [waveOffset]="0" [textVertPosition]=".5" [textSize]="1" [valueCountUp]="true" [displayPercent]="true" [textColor]="'#045681'" [waveTextColor]="'#A4DBf8'">
    </app-ngx-d3-liquid-fill-gauge>
</mat-card>