<mat-card>
    <mat-card-content>
        <mat-form-field class="example-form-field">
            <span matPrefix><i class="material-icons">search &nbsp;</i></span>
            <input matInput type="text" placeholder="Lookup a place!" #search [(ngModel)]="placeName"/>
            <button mat-button *ngIf="placeName" matSuffix mat-icon-button aria-label="Clear" (click)="placeName=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <h2 *ngIf="currentPlace !== undefined">
            {{ currentPlace.formatted_address }}
            <small>({{weatherData.latitude }}, {{ weatherData.longitude }})</small>
        </h2>
        <div *ngIf="weatherData !== undefined">
            <p>Current Summary: {{ weatherData.currentSummary }}</p>
            <p>Temprature: {{ weatherData.temprature }}(F)</p>
        </div>
    </mat-card-content>
</mat-card>