<div class="header-image">
    <img src="../../assets/images/snowmountain.png" class="header-image-mount" />
    <img src="../../assets/images/sunsticker.png" class="header-image-sun" />
    <img src="../../assets/images/snowcloud.png" class="header-image-cloud" />
    <img src="../../assets/images/snowmotion-text.png" class="header-image-text" />
    <a class="smoothScroll" href="#search-bar" (click)="smoothness()">
        <img src="../../assets/images/chevron-sign-down.png" class="down-nav" /></a>
</div>