<p>harder</p>

<mat-card>
    <mat-card-content>
        <h2 class="example-h2">Tabs with text labels</h2>
        <mat-tab-group class="tab-group">
          <mat-tab label="Current Weather">
            <mat-tab-group class="tab-group test">
              <mat-tab label="Overall">
              </mat-tab>
              <mat-tab label="Hour by hour"></mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab label="7 Day forecast">
            <h2>7 Day forecast</h2>  
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
</mat-card>