.address {
    padding-top: 30px;
    background: rgb(35,87,127);
    color: white;
}
.scroller {
    height: 600px;
}
.carousel-card {
    width: 200px;
    height: 200px;
}
.mat-dialog-container {
    display: inline-block;
    position: fixed;
}

.history-card {
    width: 200px;
    height: 200px;
}
